<div id="property">
  <div class="uk-text-center">
    <div id="images" class="uk-inline-clip uk-transition-toggle" tabindex="0">
      <img [src]="images[0]" />
      <img
        *ngIf="images.length > 1"
        class="uk-transition-scale-up uk-position-cover"
        [src]="images[1]"
      />
    </div>
  </div>
  <div id="content">
    <h4>{{ heading }}</h4>
    <p id="property-address"><span uk-icon="location"></span> {{ address }}</p>
    <div id="buttons">
      <button (click)="viewProperty.emit()" uk-tooltip="title: View Property">
        <i class="fa-solid fa-eye"></i>
      </button>
      <button (click)="editProperty.emit()" uk-tooltip="title: Edit Property">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button
        (click)="deleteProperty.emit()"
        uk-tooltip="title: Delete Property"
        class="delete-btn"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
