<div *ngIf="exists" id="project">
  <div class="uk-text-center">
    <div id="photos" class="uk-inline-clip uk-transition-toggle" tabindex="0">
      <img
        *ngIf="!project.photos || project.photos.length === 0"
        src="assets/img/pexels-photo-101808.webp"
      />
      <ng-container *ngIf="project.photos">
        <img *ngIf="project.photos.length > 0" [src]="project.photos[0]" />
        <img
          *ngIf="project.photos.length > 1"
          class="uk-transition-scale-up uk-position-cover"
          [src]="project.photos[1]"
        />
      </ng-container>
    </div>
  </div>
  <div id="content">
    <div>
      <h4>{{ project.name }}</h4>
      <p id="project-address">
        <i class="fa-solid fa-location-dot"></i> {{ project.address }},
        {{ project.city }}, {{ project.state }} - {{ project.pincode }}
      </p>
      <p *ngIf="type"><strong>Type: </strong>{{ type.name }}</p>
      <p *ngIf="unit"><strong>Unit: </strong>{{ unit.name }}</p>
    </div>
    <button [routerLink]="'/admin/properties/' + project.id" (click)="dialog.closeAll()">
      <i class="fa-solid fa-eye"></i>View Project
    </button>
  </div>
</div>
