<section>
  <form>
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Profile</legend>
      <div class="uk-margin">
        <input class="uk-input" type="text" name="name" placeholder="Name">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="tel" name="phone" placeholder="Phone Number">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="email" name="email" placeholder="Email Address">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="text" name="qualification" placeholder="Qualification">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="date" name="qualification" placeholder="Qualification">
      </div>
    </fieldset>
  </form>
</section>
