<header>
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left" uk-scrollspy="cls: uk-animation-scale-up; repeat: true" id="heading">
      Sigma Homes
    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav" uk-scrollspy="target: > li; cls: uk-animation-slide-left-small; delay: 150; repeat: true">
        <li><a href="" class="nav-link{{ active == 'home' ? ' active' : ''}}">Home</a></li>
        <li><a href="" class="nav-link{{ active == 'about' ? ' active' : ''}}">About</a></li>
        <li><a href="" class="nav-link{{ active == 'projects' ? ' active' : ''}}">Projects</a></li>
        <li><a href="" class="nav-link{{ active == 'contact' ? ' active' : ''}}">Contact</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <a href="" id="login" uk-scrollspy="cls: uk-animation-fade; repeat: true">Login</a>
      <a href="" id="signup" uk-scrollspy="cls: uk-animation-fade; repeat: true">Sign Up</a>
      <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="" uk-toggle="target: #offcanvas-nav"
        id="toggle-button"></a>
    </div>
    <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true; mode: slide">
      <div class="uk-offcanvas-bar" id="offcanvas-bar">
        <ul class="uk-nav">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <a href="" id="login2">Login</a>
        <a href="" id="signup2">Sign Up</a>
      </div>
    </div>
  </nav>
</header>