<header class="header" >
  <div class="navigation"   >
    <div class="logo">Sigma <span>Homes</span></div>
    <div class="routes">
      <a href="#home">Home</a>
      <a href="#about" >About us</a>
      <a href="#slider">Properties</a>
      <a href="#slider">Gallery</a>
      <a href="#services">services</a>
      <a href="#message">Contact Us</a>
    </div>
    <div class="auth">
      <button class="login" routerLink="/login">Agent Login</button>
      <button class="create_account">Create Account</button>
    </div>
  </div>
</header>
