header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  padding: 1em 2em;
  height: fit-content;
}

#heading {
  font-size: var(--xxlarge);
  color: var(--primary-contrast);
  font-weight: 700;
  font-family: var(--font-primary);
}

.nav-link {
  color: var(--primary-contrast);
  font-size: var(--medium);
  text-transform: unset;
  transition: all .5s;
  font-family: var(--font-secondary);
}

.nav-link:hover,
.nav-link:focus,
.active {
  color: var(--secondary);
}

#login,
#signup,
#login2,
#signup2 {
  font-size: var(--medium);
  padding: .5em 1.25em;
  border-radius: 25px;
  transition: all .5s;
  font-family: var(--font-secondary);
  display: block;
}

#login:hover,
#signup:hover,
#login2:hover,
#login:focus,
#signup:focus,
#signup2:focus {
  text-decoration: none;
}

#login:hover,
#login:focus {
  filter: opacity(.5);
}

#signup:hover,
#signup:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#login {
  color: var(--primary-contrast);
  margin-right: .5em;
}

#signup {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
}

#toggle-button {
  display: none;
  color: var(--primary-contrast);
  min-height: unset;
}

@media (max-width: 850px) {
  .uk-navbar-center, #login, #signup {
    display: none;
  }
  
  #toggle-button {
    display: block;
  }
}