header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  padding: 1em 2em;
  height: fit-content;
}

#heading {
  font-size: var(--xlarge);
  color: var(--primary-contrast);
  font-weight: 700;
  font-family: var(--font-three);
}

.nav-link, .nav-link2 {
  color: var(--primary-contrast);
  font-size: var(--medium);
  text-transform: unset;
  transition: all .5s;
  font-family: var(--font-three);
  min-height: unset;
}

.nav-link:hover,
.nav-link:focus,
.active {
  color: var(--secondary);
}

.nav-link2:hover,
.nav-link2:focus,
.active2 {
  color: var(--primary);
}

.active {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: .5em;
}

.active2 {
  border-bottom: 1px solid var(--primary);
  margin-bottom: .5em;
}

#login,
#signup,
#login2,
#signup2 {
  font-size: var(--medium);
  border-radius: 25px;
  transition: all .5s;
  font-family: var(--font-three);
  display: block;
}

#login,
#signup {
  padding: .5em 1.25em;
}

#login2, #signup2 {
  padding: 5px 0;
}

#login:hover,
#signup:hover,
#login2:hover,
#login:focus,
#signup:focus,
#signup2:focus {
  text-decoration: none;
}

#login:hover,
#login:focus {
  filter: opacity(.5);
}

#signup:hover,
#signup:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#login {
  color: var(--primary-contrast);
  margin-right: .5em;
}

#signup {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
}

#toggle-button {
  display: none;
  color: var(--primary-contrast);
  min-height: unset;
}

#offcanvas-bar {
  background-color: var(--secondary);
}

@media (max-width: 950px) {
  .uk-navbar-center, #login, #signup {
    display: none;
  }
  
  #toggle-button {
    display: block;
  }
}