<footer>
  <div id="top">
    <h4>Get connected with us on social networks</h4>
    <ul>
      <li>
        <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="" target="_blank"><i class="fab fa-google"></i></a>
      </li>
      <li>
        <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <div id="center">
    <div id="company-details">
      <h4>Sigma Homes</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        mollitia eum magnam qui ducimus animi nam, minima nulla fugiat quisquam!
      </p>
    </div>
    <div id="useful-links">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="">Properties</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
      </ul>
    </div>
  </div>
  <div id="bottom">
    &copy; Sigma Homes, 2022
  </div>
</footer>
