* {
    font-family: 'Poppins', sans-serif;
}

footer {
    width: 80%;
    margin: 0 auto;
}

#top, #bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact, #message-form {
    width: 40%;
    color: #000;
}

.contact-item-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

#branch-offices {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.branch-office {
    margin: 0 1.5em .5em 0;
}

.message-form-input, #message-form-submit {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1.25em 1em;
    outline: 0;
    resize: none;
    border: 1px solid #bac2bf;
}

#message-form-submit {
    background-color: #03381c;
    color: #f6f7f7;
    border: 1px solid transparent;
}

#bottom {
    padding: 1em 0 2em 0;
}

#social-links {
    display: flex;
}

.social-link {
    margin-right: 1em;
}