section {
  padding: 2em 3em;

  #container {
    margin-top: 2em;

    h3,
    a,
    .detail {
      font-family: var(--font-three);
    }

    h3 {
      color: var(--tertiary);
      margin: 0;
      font-size: var(--xlarge);
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    .conatiner {
      display: flex;
      flex-wrap: wrap;
      gap: 1.9rem;
      #details {
        margin: 1em 0;
        width: 30rem;
        display: flex;
        flex-direction: column;

        .detail {
          width: 100%;
          color: var(--tertiary);
          font-size: var(--large);
          margin: 0 0 0.5em 0;
          display: flex;
          justify-content: space-between;

          .key,
          .value {
            min-width: 50%;
            word-wrap: break-word;
          }
          .active {
            color: grey;
          }
          .key {
            font-weight: 700;
            margin-right: 1em;
          }
        }
      }
    }
    #editdetails {
      margin: 1em 0;
      width: 50%;
      display: flex;
      flex-direction: column;

      .detail {
        width: 100%;
        color: var(--tertiary);
        font-size: var(--large);
        margin: 0 0 0.5em 0;
        display: flex;
        justify-content: space-between;

        .key,
        .value {
          min-width: 50%;
          word-wrap: break-word;
        }

        .key {
          font-weight: 700;
          margin-right: 1em;
        }
      }
    }
    app-primary-btn {
      display: block;
      width: fit-content;
      margin-left: auto;
    }

    #buttons {
      display: flex;
      width: fit-content;
      margin-left: auto;
      margin-top: 2em;

      app-primary-btn {
        margin-left: 0.5em;
      }
    }
  }

  @media (max-width: 500px) {
    .detail {
      flex-direction: column;
      .key {
        margin: 0 !important;
      }
    }
  }
}
.personalityButton{
  background-color: var(--primary);
  color: var(--primary-contrast);
  padding:10px;
  font-size: 18px;
  border:none;
  border-radius: 7px;
}