<section>
    <div id="cards">
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Niraj Chopra'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Arvind Nanda'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Niraj Chopra'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Arvind Nanda'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Niraj Chopra'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
      <app-property-info-card
        [propertyImgSrc]="'../../../../assets/img/unsplash_4ojhpgKpS68.png'"
        [propertyName]="'3 BHK, Sky Heights'"
        [customerName]="'Arvind Nanda'"
        [customerImgSrc]="'../../../../assets/img/customer-sample-1.png'"
        [time]="'3:30PM'"
        [date]="'Sunday, April 25 2022'"
        [badge]="'Tomorrow'"
      ></app-property-info-card>
    </div>
  </section>
  