.uk-modal-body {
  width: min(80vw, 800px);
  padding: 2em;
  border-radius: 15px;

  .uk-modal-title {
    font-family: var(--font-three);
    font-size: var(--xlarge);
    color: var(--tertiary);
    margin: 0;
  }

  .uk-modal-close-default {
    background-color: var(--secondary);
    color: var(--secondary-contrast);
    border-radius: 50%;
    padding: 0.5em;
  }

  #current-customer-image-and-name {
    display: flex;
    align-items: center;

    #current-customer-img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1em;
    }
  }

  #details {
    margin-top: 1em;

    .detail {
      display: flex;
      align-items: baseline;
      font-family: var(--font-three);
      font-size: var(--medium);
      color: var(--tertiary);

      p {
        margin: 0.25em 0;
        min-width: 50%;
        word-wrap: break-word;
      }

      .key {
        margin-right: 1em;
        font-weight: 500;
      }

      @media (max-width: 650px) {
        flex-direction: column;

        p {
          width: 100%;
        }

        .key {
          margin-right: 0;
        }
      }
    }

    app-primary-btn {
      display: block;
      margin-top: 1em;
    }
  }
}
