section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/pexels-photo-966397.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    padding: 3em;
    width: 60%;
    max-width: 600px;
    background-color: rgba($color: #000, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: var(--font-three);
    color: var(--secondary);
    font-weight: 700;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    font-size: var(--xlarge);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, button {
    margin-bottom: 1em;
    font-family: var(--font-three);
    font-size: var(--medium);
}

button {
    display: block;
    padding: .5em 1em;
    background-color: var(--secondary);
    color: var(--secondary-contrast);
    border: none;
    transition: all .3s;
    cursor: pointer;
    width: 100%;
}

button:not(:disabled):hover, button:not(:disabled):focus {
    box-shadow: var(--normal-shadow);
}

button:disabled {
    opacity: .5;
    cursor: no-drop;
}

#google-icon {
    margin-right: .5em;
}