<h3>Change Agent</h3>
<form [formGroup]="agentForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Select Agent</mat-label>
    <mat-select formControlName="agent">
      <ng-container *ngFor="let agent of agents | keyvalue">
        <mat-option
          *ngIf="agent.key != data.currentAgentId"
          [value]="agent.value"
        >
          {{ agent.value.displayName }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <button type="submit" [disabled]="!agentForm.valid">Change Agent</button>
</form>
