section {
  position: relative;
  width: 100%;
  height: 100%;

  #no-properties {
    font-family: var(--font-three);
    font-size: var(--large);
    color: var(--secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #properties {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;

    app-property-card {
      width: 19%;
      margin: 0.5em;

      @media (max-width: 2040px) {
        width: 23%;
      }

      @media (max-width: 1500px) {
        width: 31%;
      }

      @media (max-width: 850px) {
        width: 47%;
      }

      @media (max-width: 570px) {
        width: 100%;
      }
    }
  }
}
