<section>
  <div id="properties">
    <app-property-card *ngFor="let item of properties" [imageSrc]="item.image" [heading]="item.name" [price]="item.price" [address]="item.address" [area]="item.area+' sqft'"
      [rating]="item.rating"></app-property-card>
  </div>
  <app-fab [icon]="'plus'" [target]="'#add-properties-modal'" [title]="'Add New Property'"></app-fab>
</section>
<div id="add-properties-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title"></h2>
    <form [formGroup]="propertyForm" (ngSubmit)="submitForm()">
      <div><label>Property Name</label><input type="text" formControlName="name"></div>
      <div><label>Image</label><input type="file" (change)="imageValue = $event" formControlName="image"></div>
      <div><label>Price</label><input type="number" formControlName="price"></div>
      <div><label>Area (sqft)</label><input type="number" formControlName="area"></div>
      <div><label>Address</label><textarea type="text" formControlName="address"></textarea></div>
      <button>Submit</button>
    </form>
  </div>
</div>