<section id="properties" uk-scrollspy="cls: uk-animation-fade; target: h3, app-property-card, #view-all; delay: 50">
    <h3>Properties</h3>
    <div id="properties-container">
        <app-property-card *ngFor="let property of properties" [imageSrc]="property.photos[0]" [heading]="property.name" [price]="property.companyAcceptedRate" [address]="property.plotNo" [area]="property.plotArea +'m2'" [rating]="property.rating"></app-property-card>
    </div>
    <button routerLink="/properties" id="view-all">View All Properties</button>
</section>