<section id="properties" uk-scrollspy="cls: uk-animation-fade; target: h3, app-property-card, #view-all; delay: 50">
    <h3>Properties</h3>
    <div id="properties-container">
        <app-property-card [imageSrc]="'https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'" [heading]="'House'" [price]="'40,00,000'" [address]="'145B, Kareli, Allahabad'" [area]="'800m2'" [rating]="4.8"></app-property-card>
        <app-property-card [imageSrc]="'https://images.pexels.com/photos/164558/pexels-photo-164558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'" [heading]="'Duplex'" [price]="'20,00,000'" [address]="'145B, Divine Street, Mussoorie'" [area]="'800m2'" [rating]="4.8"></app-property-card>
        <app-property-card [imageSrc]="'https://images.pexels.com/photos/2459/stairs-home-loft-lifestyle.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'" [heading]="'Apartment'" [price]="'20,00,000'" [address]="'145B, Divine Street, Mussoorie'" [area]="'800m2'" [rating]="4.8"></app-property-card>
        <app-property-card [imageSrc]="'https://images.pexels.com/photos/2459/stairs-home-loft-lifestyle.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'" [heading]="'Apartment'" [price]="'20,00,000'" [address]="'145B, Divine Street, Mussoorie'" [area]="'800m2'" [rating]="4.8"></app-property-card>
    </div>
    <a href="" id="view-all">View All Properties</a>
</section>