<div *ngIf="!response" uk-spinner="ratio: 3" id="loading"></div>

<ng-container *ngIf="response">
  <section>
    <button id="go-back" routerLink="..">
      <i class="fa-solid fa-arrow-left"></i> All Responses
    </button>

    <div id="view-details">
      <button class="btn" (click)="openPropertyDetail()">
        <i class="fa-solid fa-house"></i> View Property Details
      </button>
      <button class="btn" (click)="openCustomerDetail()">
        <i class="fa-solid fa-user"></i> View Customer Details
      </button>
    </div>

    <div id="container">
      <div id="response-container">
        <app-response-card [response]="response" [readOnly]="true"></app-response-card>
      </div>

      <div id="phases">
        <div id="stepper-wrapper">
          <div [ngClass]="{
              'stepper-item': true,
              completed: response.phase >= 0
            }">
            <div class="step-counter"></div>
            <div class="step-name">Query</div>
          </div>
          <div [ngClass]="{
              'stepper-item': true,
              completed: response.phase >= 1
            }">
            <div class="step-counter"></div>
            <div class="step-name">Visitation</div>
          </div>
          <div [ngClass]="{
              'stepper-item': true,
              completed: response.phase >= 2
            }">
            <div class="step-counter"></div>
            <div class="step-name">Negotiation</div>
          </div>
          <div [ngClass]="{
              'stepper-item': true,
              completed: response.phase >= 3
            }">
            <div class="step-counter"></div>
            <div class="step-name">Legalization</div>
          </div>
          <div [ngClass]="{
              'stepper-item': true,
              completed: response.phase >= 4
            }">
            <div class="step-counter"></div>
            <div class="step-name">Closure</div>
          </div>
        </div>
        <button class="btn" (click)="completePhase()" [disabled]="response.phase >= 4">
          <i class="fa-solid fa-check"></i> Mark this phase complete
        </button>
        <button class="btn" (click)="discardPhase()" [disabled]="response.phase <= 0">
          <i class="fa-solid fa-xmark"></i> Discard this phase
        </button>
      </div>
    </div>

    <ul uk-tab>
      <li (click)="activePhase = 0" [ngClass]="{ 'uk-active': activePhase === 0 }">
        <button>Query</button>
      </li>
      <li (click)="activePhase = 1" [ngClass]="{
          'uk-active': activePhase === 1,
          'uk-disabled': response.phase < 1
        }">
        <button>Visitation</button>
      </li>
      <li (click)="activePhase = 2" [ngClass]="{
          'uk-active': activePhase === 2,
          'uk-disabled': response.phase < 2
        }">
        <button>Negotiation</button>
      </li>
      <li (click)="activePhase = 3" [ngClass]="{
          'uk-active': activePhase === 3,
          'uk-disabled': response.phase < 3
        }">
        <button>Legalization</button>
      </li>
      <li (click)="activePhase = 4" [ngClass]="{
          'uk-active': activePhase === 4,
          'uk-disabled': response.phase < 4
        }">
        <button>Closure</button>
      </li>
    </ul>
    <div id="notes">
      <div class="note" *ngFor="let note of getNotes(activePhase)">
        <p class="date">{{getDate(note.date) | date}}</p>
        <p class="description">{{note.note}}</p>
      </div>
      <button class="btn" (click)="addNote(activePhase)"><i class="fa fa-plus"></i> Add Note</button>
    </div>
  </section>

  <!-- <app-view-property-modal
    [project]="response.property"
  ></app-view-property-modal> -->

  <app-view-customer-modal [customer]="response.customer"></app-view-customer-modal>

  <!-- <div id="add-note-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Add Note</h2>
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
        <input type="text" class="admin-input" formControlName="date" placeholder="Date" />
        <textarea class="admin-input" formControlName="date" placeholder="Description"></textarea>
        <app-primary-btn text="Add Note" [disabled]="!addNoteForm.valid"></app-primary-btn>
      </form>
    </div>
  </div> -->
</ng-container>