header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  padding: 1em 2em;
  height: fit-content;
}

#heading {
  font-size: var(--xlarge);
  color: var(--secondary);
  font-weight: 700;
  font-family: var(--font-three);
}

.nav-link {
  font-size: var(--medium);
  text-transform: unset;
  font-family: var(--font-three);
  min-height: unset;
  transition: all 0.5s;
  color: var(--secondary);
  opacity: 0.5;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 1;
}

#login {
  color: var(--tertiary);
  font-size: var(--medium);
  font-family: var(--font-three);
  display: block;
  border-radius: 25px;
  padding: 0.5em 1.25em;
  color: var(--secondary);
  margin-right: 0.5em;
  transition: all 0.5s;
}

#login:hover,
#login:focus {
  filter: opacity(0.5);
}

.nav-link2 {
  font-size: var(--medium);
  text-transform: unset;
  transition: all 0.5s;
  font-family: var(--font-three);
  min-height: unset;
  color: var(--tertiary);
}

.nav-link2:hover,
.nav-link2:focus {
  color: var(--primary);
}

#login2,
#signup2 {
  font-size: var(--medium);
  text-transform: unset;
  transition: all 0.5s;
  font-family: var(--font-three);
  min-height: unset;
}

#signup,
#logout {
    color: var(--tertiary);
}

.active {
  opacity: 1;
}

.active2,
#login2:hover,
#signup2:hover,
#signup2:focus {
  color: var(--primary);
}

.active {
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 0.5em;
}

.active2 {
  border-bottom: 2px solid var(--primary);
}

#signup,
#logout,
#login2,
#signup2 {
  font-size: var(--medium);
  transition: all 0.5s;
  font-family: var(--font-three);
  display: block;
}

#signup,
#logout {
  border-radius: 25px;
  padding: 0.5em 1.25em;
}

#login2,
#signup2 {
  padding: 5px 0;
  color: #000;
}

#signup:hover,
#login2:hover,
#logout:hover,
#signup2:hover,
#signup:focus,
#signup2:focus,
#logout:focus {
  text-decoration: none;
}

#signup:hover,
#signup:focus,
#logout:hover,
#logout:focus {
  box-shadow: var(--normal-shadow);
}

#signup,
#logout {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
  border: none;
  font-size: inherit;
}

#toggle-button {
  display: none;
  color: var(--secondary);
  min-height: unset;
}

#offcanvas-bar {
  background-color: #fff;
  box-shadow: var(--normal-shadow);
}

@media (max-width: 950px) {
  .uk-navbar-center,
  #login,
  #signup,
  #logout {
    display: none;
  }

  #toggle-button {
    display: block;
  }
}
