<section id="about">
  <h3 uk-scrollspy="cls: uk-animation-fade">What Are We</h3>
  <div id="container">
    <div
      id="images"
      uk-scrollspy="cls: uk-animation-slide-top-medium; target: .image; delay: 150"
    >
      <div class="image-container">
        <img
          src="../../assets/img/annie-spratt-QckxruozjRg-unsplash.jpg"
          alt=""
          class="image"
          loading="lazy"
        />
      </div>
      <div class="image-container">
        <img
          src="../../assets/img/headway-5QgIuuBxKwM-unsplash.jpg"
          alt=""
          class="image"
          loading="lazy"
        />
      </div>
      <div class="image-container">
        <img
          src="../../assets/img/jason-goodman-bzqU01v-G54-unsplash.jpg"
          alt=""
          class="image"
          loading="lazy"
        />
      </div>
      <div class="image-container">
        <img
          src="../../assets/img/krakenimages-376KN_ISplE-unsplash.jpg"
          alt=""
          class="image"
          loading="lazy"
        />
      </div>
      <div class="image-container">
        <img
          src="../../assets/img/mimi-thian-vdXMSiX-n6M-unsplash.jpg"
          alt=""
          class="image"
          loading="lazy"
        />
      </div>
    </div>
    <div
      id="content"
      uk-scrollspy="cls: uk-animation-slide-left-medium; target: h4, p, #numbers; delay: 150"
    >
      <h4>We Are a Real Estate Brokerage</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        explicabo unde sit magni, nobis numquam molestias voluptatem labore
        distinctio asperiores, soluta veritatis architecto totam voluptate?
        Eaque non excepturi voluptas nostrum, eius quis ea repudiandae, corrupti
        ratione velit distinctio perferendis accusamus sit incidunt iusto. Totam
        et quisquam provident vitae alias recusandae, optio impedit odit
        accusantium dolores quibusdam autem, reiciendis maxime in!
      </p>
      <div id="numbers">
        <div class="number-box">
          <div class="number"><span id="happy-customers"></span>+</div>
          <div class="number-desc">Happy Customers</div>
        </div>
        <div class="number-box">
          <div class="number"><span id="months-experience"></span>+</div>
          <div class="number-desc">Months of Experience</div>
        </div>
        <div class="number-box">
          <div class="number"><span id="creative-members"></span>+</div>
          <div class="number-desc">Creative Members</div>
        </div>
      </div>
    </div>
  </div>
</section>
