ul{
    list-style: none;
    margin: 0px;
    padding:0px;
    li{
        padding:10px;
        margin:10px;
        list-style: none;
        border-bottom: 2px solid grey;
        span{
            text-align: right;
            // width: max-content;
        }
        img{
            width: 200px;
            max-width: 400px;
            height: auto;
            // border-radius: 50%;
            object-fit: cover;
        }
    }
}