<h2 mat-dialog-title>Property Details</h2>
<mat-dialog-content>
<ul>
    <li>Name: <span>{{customer.name || 'N/A'}}</span></li>
    <li>Pan No: <span>{{customer.panNo || 'N/A'}}</span></li>
    <li>Email: <span>{{customer.email || 'N/A'}}</span></li>
    <li>Phone: <span>{{customer.phone || 'N/A'}}</span></li>
    <li>Aadhaar No: <span>{{customer.aadharNo || 'N/A'}}</span></li>
    <li>Address: <span>{{customer.address || 'N/A'}}</span></li>
    <li>City: <span>{{customer.city || 'N/A'}}</span></li>
    <li>State: <span>{{customer.state || 'N/A'}}</span></li>
    <li>Unit No: <span>{{customer.unitNo || 'N/A'}}</span></li>
    <li>Booking Date: <span>{{customer.bookingDate || 'N/A'}}</span></li>
    <li>Company Name: <span>{{customer.companyName || 'N/A'}}</span></li>
    <li>Company Sales Value: <span>{{customer.companySalesValue || 'N/A'}}</span></li>
    <li>Customer Anniversary: <span>{{customer.anniversary || 'N/A'}}</span></li>
    <li>Customer Dob: <span>{{customer.customerDob || 'N/A'}}</span></li>
    <li>Finance Details: <span>{{customer.financeDetails || 'N/A'}}</span></li>
    <li>Income As Per ITR: <span>{{customer.incomeAsPerITR || 'N/A'}}</span></li>
    <li>itrStatus: <span>{{customer.itrStatus || 'N/A'}}</span></li>
    <li>Job Type: <span>{{customer.jobType || 'N/A'}}</span></li>
    <li>Monthly Salary: <span>{{customer.monthlySalary || 'N/A'}}</span></li>
    <li>Lead Id: <span>{{customer.leadId || 'N/A'}}</span></li>
    <li>Pin code: <span>{{customer.pincode || 'N/A'}}</span></li>
    <li>Project Name: <span>{{customer.projectName || 'N/A'}}</span></li>
    <li>Property Type: <span>{{customer.propertyType || 'N/A'}}</span></li>
    <li>Payment Mode: <span>{{customer.paymentMode || 'N/A'}}</span></li>
    <li>Sales Value: <span>{{customer.salesValue || 'N/A'}}</span></li>
    <li>Year Of Establishment: <span>{{customer.yearOfEstablishment || 'N/A'}}</span></li>
    <li>Year Of Establishment: <span>{{customer.yearOfEstablishment || 'N/A'}}</span></li>
    <li>Id: <span>{{customer.id || 'N/A'}}</span></li>
</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>