<section>
  <div id="no-broadcasts" *ngIf="!broadcasts || broadcasts.length === 0" (click)="openBroadcast()">
    <i class="fa-solid fa-plus"></i>
    <p>You have not sent any broadcasts yet. Click here to send one.</p>
  </div>
  <table *ngIf="broadcasts && broadcasts.length > 0">
    <thead>
      <tr>
        <th width="20%">Subject</th>
        <th width="5%">Image</th>
        <th width="30%">Text</th>
        <th width="10%">Date</th>
        <th width="10%">Time</th>
        <th width="5%">Recipients</th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let broadcast of filteredBroadcasts; let i = index">
        <td class="subject">{{ broadcast.subject }}</td>
        <ng-container>
          <td class="image" *ngIf="broadcast.image">
            <a [href]="broadcast.image" target="_blank">View</a>
          </td>
          <td class="image" *ngIf="!broadcast.image">N/A</td>
        </ng-container>
        <td class="text" [innerHTML]="formatText(broadcast.text) || 'N/A'"></td>
        <td style="white-space: nowrap">{{ getDate(broadcast.date) }}</td>
        <td style="white-space: nowrap">{{ getTime(broadcast.date) }}</td>
        <td>
          <button class="view-recipients" uk-toggle="target: #recipients-modal" (click)="currentBroadcast = i">
            {{ broadcast.recipients.length }}
          </button>
        </td>
        <td>
          <div class="buttons">
            <button class="view" uk-toggle="target: #view-broadcast-modal" (click)="currentBroadcast = i"
              uk-tooltip="View">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="resend" uk-tooltip="Resend" (click)="resendBroadcast(i)">
              <i class="fa-solid fa-rotate-right"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div id="recipients-modal" uk-modal (hidden)="currentBroadcast = -1">
  <div *ngIf="currentBroadcast > -1" class="uk-modal-dialog uk-modal-body">
    <h4 class="uk-modal-title">
      Recipients of Broadcast "{{ broadcasts[currentBroadcast].subject }}"
    </h4>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="recipients">
      <p *ngFor="let recipient of broadcasts[currentBroadcast].recipients" class="recipient">
        {{ recipient }}
      </p>
    </div>
    <button routerLink="new-broadcast" class="uk-modal-close modal-end-btn" (click)="
        broadcastService.setRecipients(broadcasts[currentBroadcast].recipients)
      ">
      Send a new broadcast to these recipients
    </button>
  </div>
</div>

<div id="view-broadcast-modal" uk-modal (hidden)="currentBroadcast = -1">
  <div *ngIf="currentBroadcast > -1" class="uk-modal-dialog uk-modal-body">
    <h4 class="uk-modal-title">
      Broadcast "{{ broadcasts[currentBroadcast].subject }}"
    </h4>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div id="broadcast-container">
      <div id="broadcast-content">
        <img *ngIf="broadcasts[currentBroadcast].image" [src]="broadcasts[currentBroadcast].image" />
        <p>{{ broadcasts[currentBroadcast].text }}</p>
      </div>
      <div id="broadcast-details">
        <p>
          Sent on
          <span class="bold">{{ getDate(broadcasts[currentBroadcast].date) }} at
            {{ getTime(broadcasts[currentBroadcast].date) }}</span>
        </p>
        <h5 class="bold">Recipients</h5>
        <div class="recipients">
          <p *ngFor="let recipient of broadcasts[currentBroadcast].recipients" class="recipient">
            {{ recipient }}
          </p>
        </div>
        <h5 class="bold">Name</h5>
        <div class="recipients">
          <p *ngFor="let name of broadcasts[currentBroadcast].name" class="recipient">
            {{ name }}
          </p>
        </div>
      </div>
    </div>
    <button (click)="resendBroadcast(currentBroadcast)" routerLink="new-broadcast" class="uk-modal-close modal-end-btn">
      Resend Broadcast
    </button>
  </div>
</div>