<mat-card class="card">
    <div>
        <p>{{propertyName}}</p>
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select (selectionChange)="changedOption($event)" [value]="stage" #stageSelector>
                <mat-option value="stageOne">Stage One</mat-option>
                <mat-option value="stageTwo">Stage Two</mat-option>
                <mat-option value="stageThree">Stage Three</mat-option>
                <mat-option value="stageFour">Stage Four</mat-option>
                <mat-option value="stageFive">Stage Five</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <img [src]="assignedAgentImage" [matMenuTriggerFor]="menu" #menuTrigger [alt]="assignedAgentName">
        <p>{{assignedAgentName}}</p>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changedAgent.emit(agent)" *ngFor="let agent of agents">
                <img class="popupImage" [src]="agent.photoURL">
                {{agent.displayName}}
            </button>
        </mat-menu>
    </div>
</mat-card>