<section>
  <form>
    <div id="left">
      <div
        id="upload-post-wrapper"
        (click)="postInput.click()"
        #uploadPostWrapper
      >
        <div id="upload-post-container">
          <img src="../../../assets/img/ri_image-edit-fill.png" />
          <p *ngIf="postInput.files?.length != 1">Upload Post</p>
          <p *ngIf="postInput.files?.length == 1">Change Post</p>
          <input type="file" (change)="imageSelected()" #postInput />
        </div>
      </div>
      <div id="subject-and-caption">
        <input type="text" class="admin-input" placeholder="Subject" />
        <textarea
          class="admin-input"
          placeholder="Text or caption goes here"
        ></textarea>
      </div>
    </div>
    <div id="right">
      <h3>Select Recipients</h3>
      <textarea
        class="admin-input"
        placeholder="Type in phone numbers separated by commas"
      ></textarea>
      <div class="or">OR</div>
      <app-secondary-btn [text]="'Upload CSV'"></app-secondary-btn>
      <div class="or">OR</div>
      <div id="search-in-leads">
        <div id="search-input-container">
          <input
            type="text"
            class="admin-input"
            placeholder="Search in Leads"
          />
          <span uk-icon="icon: search; ratio: 1.25"></span>
        </div>
        <div id="leads-container">
          <div id="leads">
            <div class="lead">
              <img
                src="../../../assets/img/customer-sample-1.png"
                alt="Manohar Singh"
              />
              <p>Manohar Singh</p>
            </div>
          </div>
        </div>
        <app-primary-btn [text]="'Send'"></app-primary-btn>
      </div>
    </div>
  </form>
</section>
