section {
  padding: 1em;

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-three);
    color: var(--tertiary);

    th,
    td {
      padding: 0.75em;
      font-size: var(--small);
    }

    thead {
      tr {
        background-color: var(--secondary);
        color: var(--secondary-contrast);

        th {
          font-weight: 500;
        }
      }
    }

    tbody {
      font-size: var(--small);

      tr {
        transition: all 0.5s;

        &:nth-child(even) {
          background-color: var(--secondary-lighter);
        }

        &:hover {
          background-color: var(--secondary-light);
        }

        td {
          vertical-align: top;

          .buttons {
            display: flex;

            button {
              background-color: var(--secondary);
              color: var(--secondary-contrast);
              border: none;
              font-family: var(--font-three);
              padding: 0.5em 1em;
              margin: 0.25em;
              font-size: var(--small);
              border-radius: 7px;
              transition: all .5s;
              cursor: pointer;

              &:hover {
                box-shadow: var(--normal-shadow);
              }
            }
          }
        }
      }
    }
  }
}