<section>
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Text</th>
        <th>Date</th>
        <th>Time</th>
        <th>Recipients</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td style="font-weight: 500;">Broadcast Title</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, amet!
        </td>
        <td style="white-space: nowrap;">22 May 2022</td>
        <td style="white-space: nowrap;">22:42:22</td>
        <td>87</td>
        <td>
          <div class="buttons">
            <button>Resend</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>