<form [formGroup]="addResponseForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Lead</mat-label>
    <mat-select formControlName="lead">
      <mat-option *ngFor="let lead of leads" [value]="lead.id">
        {{ lead.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div style="display: flex">
    <mat-form-field appearance="fill" style="margin-right: 0.5em">
      <mat-label>Stage</mat-label>
      <mat-select (selectionChange)="genFields()" formControlName="phase">
        <mat-option [value]="phase.value" *ngFor="let phase of phases">
          {{ phase.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" (click)="check()">
      <mat-label>Property</mat-label>
      <mat-select formControlName="property" *ngIf="!multiple">
        <mat-option *ngFor="let property of properties" [value]="property.id">
          {{ property.name }}
        </mat-option>
      </mat-select>
      <mat-select multiple formControlName="property" *ngIf="multiple">
        <mat-option *ngFor="let property of properties" [value]="property.id">
          {{ property.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [formGroup]="phasesNotes" class="textFields">
    <mat-form-field appearance="fill" *ngFor="let input of notesFieldsControls">
      <mat-label>Note For {{ phases[input.index].label }}</mat-label>
      <input matInput [formControlName]="input.name" placeholder="Note" />
    </mat-form-field>
  </div>
  <button
    mat-button
    style="background-color: var(--primary); color: white"
    type="submit"
  >
    Submit
  </button>
</form>

<!-- 
<mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field> -->
