<section id="gallery">
    <h3 uk-scrollspy="cls:uk-animation-fade; repeat: true">Gallery</h3>
    <div class="uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l" uk-grid="masonry: true; parallax: 200" uk-scrollspy="cls:uk-animation-fade; target: .image; delay: 50; repeat: true"id="images">
        <div class="image-container">
            <img src="https://images.pexels.com/photos/864994/pexels-photo-864994.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/313691/pexels-photo-313691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/101808/pexels-photo-101808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/7415028/pexels-photo-7415028.jpeg?cs=srgb&dl=pexels-mart-production-7415028.jpg&fm=jpg" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/7641859/pexels-photo-7641859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/4246120/pexels-photo-4246120.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/224924/pexels-photo-224924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/5699456/pexels-photo-5699456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="image">
        </div>
        <div class="image-container">
            <img src="https://images.pexels.com/photos/8962332/pexels-photo-8962332.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="image">
        </div>
    </div>
</section>