

<div id="card">
  <div id="details">
    <div id="property-img-container">
      <img [src]="property.images && property.images.length > 0 ? property.images[0] : ''" [alt]="property.name" />
    </div>
    <div id="text-container">
      <div>
        <h4>{{ property.name }}</h4>
        <p>{{ customer.name }}</p>
        <div id="contact-buttons">
          <a href="tel:{{ customer.phone }}" uk-tooltip="Call"
            ><i class="fa-solid fa-phone"></i
          ></a>
          <button uk-tooltip="Send SMS">
            <i class="fa-solid fa-comment-sms"></i>
          </button>
          <a
            href="mailto:{{ customer.email }}"
            target="_blank"
            uk-tooltip="Email"
          >
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>
      <div id="badge">{{ status }}</div>
    </div>
  </div>
  <button *ngIf="selectable" id="select-button" (click)="selectResponse()">
    <i
      class="fa-solid fa-circle-check"
      [style]="'color: ' + (selected ? '#5cb85c' : '#727a81')"
    ></i>
  </button>
</div>
