<div id="card">
    <img src="../../../../assets/img/unsplash_4ojhpgKpS68.png" alt="3 BHK, Sky Heights" id="property-img">
    <div id="text-container">
        <div id="headings">
            <p>Niraj Chopra</p>
            <p>3 BHK, Sky Heights</p>
        </div>
        <div id="subheadings">
            <p>3:30PM</p>
            <p>Sunday, 24 April 2022</p>
        </div>
        <div id="badge">Tomorrow</div>
    </div>
    <img src="../../../../assets/img/customer-sample-1.png" alt="Niraj Chopra" id="customer-img">
</div>