<div id="card">
  <div
    id="top"
    (click)="expanded = !expanded"
    [style]="'border-radius: ' + (expanded ? '15px 15px 0 0' : '15px')"
  >
    <h3>{{ lead.name || "Unknown Name" }}</h3>
    <button id="expand-collapse">
      <span
        [attr.uk-icon]="
          'icon: triangle-' + (expanded ? 'up' : 'down') + '; ratio: 1.25'
        "
      ></span>
    </button>
  </div>
  <div *ngIf="expanded" id="key-values">
    <p>
      <span class="key">Name: </span>
      <span *ngIf="lead.name" class="value">{{ lead.name }}</span>
      <span *ngIf="!lead.name" class="value">
        <button
          *ngIf="visibleInputs.indexOf('name') === -1"
          (click)="visibleInputs.push('name')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('name') !== -1"
          class="add-field-form"
        >
          <input type="text" #nameInput />
          <button (click)="addField('name', nameInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Phone: </span>
      <span *ngIf="lead.phone" class="value">{{ lead.phone }}</span>
      <span *ngIf="!lead.phone" class="value">
        <button
          *ngIf="visibleInputs.indexOf('phone') === -1"
          (click)="visibleInputs.push('phone')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('phone') !== -1"
          class="add-field-form"
        >
          <input type="tel" #phoneInput />
          <button (click)="addField('phone', phoneInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Email: </span>
      <span *ngIf="lead.email" class="value">{{ lead.email }}</span>
      <span *ngIf="!lead.email" class="value">
        <button
          *ngIf="visibleInputs.indexOf('email') === -1"
          (click)="visibleInputs.push('email')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('email') !== -1"
          class="add-field-form"
        >
          <input type="email" #emailInput />
          <button (click)="addField('email', emailInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Address: </span>
      <span *ngIf="lead.address" class="value">{{ lead.address }}</span>
      <span *ngIf="!lead.address" class="value">
        <button
          *ngIf="visibleInputs.indexOf('address') === -1"
          (click)="visibleInputs.push('address')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('address') !== -1"
          class="add-field-form"
        >
          <input type="text" #addressInput />
          <button (click)="addField('address', addressInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">City: </span>
      <span *ngIf="lead.city" class="value">{{ lead.city }}</span>
      <span *ngIf="!lead.city" class="value">
        <button
          *ngIf="visibleInputs.indexOf('city') === -1"
          (click)="visibleInputs.push('city')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('city') !== -1"
          class="add-field-form"
        >
          <input type="text" #cityInput />
          <button (click)="addField('city', cityInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">State: </span>
      <span *ngIf="lead.state" class="value">{{ lead.state }}</span>
      <span *ngIf="!lead.state" class="value">
        <button
          *ngIf="visibleInputs.indexOf('state') === -1"
          (click)="visibleInputs.push('state')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('state') !== -1"
          class="add-field-form"
        >
          <input type="text" #stateInput />
          <button (click)="addField('state', stateInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Pin Code: </span>
      <span *ngIf="lead.pincode" class="value">{{ lead.pincode }}</span>
      <span *ngIf="!lead.pincode" class="value">
        <button
          *ngIf="visibleInputs.indexOf('pincode') === -1"
          (click)="visibleInputs.push('pincode')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('pincode') !== -1"
          class="add-field-form"
        >
          <input type="text" #pincodeInput />
          <button (click)="addField('pincode', pincodeInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Aadhar No.: </span>
      <span *ngIf="lead.aadharNo" class="value">{{ lead.aadharNo }}</span>
      <span *ngIf="!lead.aadharNo" class="value">
        <button
          *ngIf="visibleInputs.indexOf('aadharNo') === -1"
          (click)="visibleInputs.push('aadharNo')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('aadharNo') !== -1"
          class="add-field-form"
        >
          <input type="text" #aadharNoInput />
          <button (click)="addField('aadharNo', aadharNoInput.value)">
            Add
          </button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">PAN No.: </span>
      <span *ngIf="lead.panNo" class="value">{{ lead.panNo }}</span>
      <span *ngIf="!lead.panNo" class="value">
        <button
          *ngIf="visibleInputs.indexOf('panNo') === -1"
          (click)="visibleInputs.push('panNo')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('panNo') !== -1"
          class="add-field-form"
        >
          <input type="text" #panNoInput />
          <button (click)="addField('panNo', panNoInput.value)">Add</button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Customer DOB: </span>
      <span *ngIf="lead.customerDob" class="value">{{ lead.customerDob }}</span>
      <span *ngIf="!lead.customerDob" class="value">
        <button
          *ngIf="visibleInputs.indexOf('customerDob') === -1"
          (click)="visibleInputs.push('customerDob')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('customerDob') !== -1"
          class="add-field-form"
        >
          <input type="date" #customerDobInput />
          <button (click)="addField('customerDob', customerDobInput.value)">
            Add
          </button>
        </span>
      </span>
    </p>
    <p>
      <span class="key">Customer Anniversary: </span>
      <span *ngIf="lead.customerAnniversary" class="value">{{
        lead.customerAnniversary
      }}</span>
      <span *ngIf="!lead.customerAnniversary" class="value">
        <button
          *ngIf="visibleInputs.indexOf('customerAnniversary') === -1"
          (click)="visibleInputs.push('customerAnniversary')"
        >
          <i class="fa-solid fa-plus"></i> Add Field
        </button>
        <span
          *ngIf="visibleInputs.indexOf('customerAnniversary') !== -1"
          class="add-field-form"
        >
          <input type="date" #customerAnniversaryInput />
          <button
            (click)="
              addField('customerAnniversary', customerAnniversaryInput.value)
            "
          >
            Add
          </button>
        </span>
      </span>
    </p>
  </div>
  <div *ngIf="expanded" id="actions">
    <div [id]="lead.id + '-dropdown-container'" class="dropdown-container">
      <div class="dropdown" *ngIf="showDropdown">
        <ul>
          <li>
            <a [href]="'tel:' + lead.phone" id="phone-link">Call</a>
          </li>
          <hr />
          <li>
            <button (click)="onMakeCustomer.emit()">Make Customer</button>
          </li>
          <li>
            <button
              *ngIf="lead.responseId"
              class="response-btn"
              [routerLink]="'/admin/responses/' + lead.responseId"
            >
              View Response
            </button>
          </li>
          <li>
            <button
              *ngIf="!lead.responseId"
              class="response-btn"
              (click)="createResponse(lead.id)"
            >
              Create Response
            </button>
          </li>
          <hr />
          <li>
            <button (click)="onEdit.emit()">
              <i class="fa-solid fa-pen-to-square"></i> Edit Lead
            </button>
          </li>
          <li>
            <button (click)="onDelete.emit()">
              <i class="fa-solid fa-trash"></i> Delete Lead
            </button>
          </li>
        </ul>
      </div>
    </div>
    <button
      type="button"
      (click)="showDropdown = true"
    >
      Actions
    </button>
  </div>
</div>
