<section
  uk-scrollspy="cls: uk-animation-fade; target: .contact-item, #message-form, #social-links, #copyright; delay: 50"
>
<h3 uk-scrollspy="cls: uk-animation-fade">Let's Connect</h3>
<div id="wrapper">
  <div id="contact">
    <div class="contact-item">
      <h5 class="contact-item-heading">Address</h5>
      <address class="contact-item-paragraph">
        St Xizhiman Inner, 5th Floor-Building Sojhu 5333 Xinjiekou Residential
        District, Beijing, China.
      </address>
    </div>
    <div class="contact-item">
      <h5 class="contact-item-heading">Email</h5>
      <p class="contact-item-paragraph">
        <a href="mailto:info@nggon.com" class="contact-item-link"
          >info@nggon.com</a
        >
      </p>
    </div>
    <div class="contact-item">
      <h5 class="contact-item-heading">Phone</h5>
      <p class="contact-item-paragraph">
        <a href="tel:+86(406)555-0120" class="contact-item-link"
          >+86 (406) 555-0120</a
        >
      </p>
    </div>
    <div class="contact-item">
      <h5 class="contact-item-heading">Branch Offices</h5>
      <ul id="branch-offices">
        <li class="branch-office">
          <span class="uk-text-bold">Berlin, </span>Germany
        </li>
        <li class="branch-office">
          <span class="uk-text-bold">Washington, </span>USA
        </li>
        <li class="branch-office">
          <span class="uk-text-bold">Jakarta, </span>Indonesia
        </li>
        <li class="branch-office">
          <span class="uk-text-bold">Canberra, </span>Australia
        </li>
        <li class="branch-office">
          <span class="uk-text-bold">Abu Dhabi, </span>UAE
        </li>
      </ul>
    </div>
  </div>
  <form action="" method="post" id="message-form">
    <input
      type="text"
      name="name"
      placeholder="Full Name"
      class="message-form-input"
    />
    <input
      type="email"
      name="email"
      placeholder="Email Address"
      class="message-form-input"
    />
    <textarea
      name="message"
      placeholder="Message"
      rows="4"
      class="message-form-input"
    ></textarea>
    <button type="submit" id="message-form-submit">Send Message</button>
  </form>
</div>
</section>
