section {
  background-color: var(--secondary);
  padding: 2em 4em;
  margin: 0 auto;

  h3 {
    text-align: center;
    font-size: var(--xxlarge);
    font-family: var(--font-three);
    color: var(--primary);
    text-align: center;
    margin: 0;
  }

  #wrapper {
    display: flex;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

    #contact,
    #message-form {
      color: var(--secondary-contrast);
      font-family: var(--font-two);
      font-size: var(--medium);
    }

    #contact {
      width: 40%;

      .contact-item-heading {
        font-size: var(--large);
        font-family: var(--font-one);
        color: var(--primary);
        font-weight: 700;
        margin: 0 0 0.25em 0;
      }

      .contact-item-paragraph {
        margin: 0 0 0.75em 0;
      }

      .contact-item-paragraph,
      .contact-item-link {
        color: var(--primary-contrast);
      }

      #branch-offices {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        .branch-office {
          margin: 0 0.5em 0 0;
        }
      }
    }

    #message-form {
      width: 50%;

      .message-form-input,
      #message-form-submit {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        padding: 0.75em;
        font-size: var(--small);
        outline: 0;
        resize: none;
        border: none;
        font-family: var(--font-two);
        transition: all 0.5s;

        &:hover,
        &:focus {
          box-shadow: var(--normal-shadow);
        }
      }

      .message-form-input {
        color: var(--tertiary);
        filter: brightness(0.9);

        &:hover,
        &:focus {
          filter: brightness(1);
        }
      }

      #message-form-submit {
        background-color: var(--primary);
        color: var(--primary-contrast);
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.5s;
        font-size: var(--medium);
      }
    }
  }
}

@media (max-width: 900px) {
  section {
    padding: 2em;

    #wrapper {
      flex-direction: column-reverse;

      #contact,
      #message-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
      }

      #contact {
        margin-top: 1em;
      }
    }
  }
}
