footer {
    background-color: var(--secondary);
    padding: 2em 5em 0 5em;
}

#top,
#bottom {
    margin: 0 auto;
    display: flex;
    max-width: 1500px;
    justify-content: space-between;
}

#top {
    align-items: flex-start;
}

#contact,
#message-form {
    color: var(--secondary-contrast);
    font-family: var(--font-two);
    font-size: var(--medium);
}

#contact {
    width: 40%;
}

#message-form {
    width: 50%;
}

.contact-item-heading,
#form-heading {
    font-size: var(--xlarge);
    font-family: var(--font-one);
    color: var(--primary);
    font-weight: 700;
    margin: 0;
}

.contact-item-paragraph {
    margin: 0 0 .75em 0;
}

.contact-item-paragraph,
.contact-item-link {
    color: var(--primary-contrast);
}

#branch-offices {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.branch-office {
    margin: 0 .5em 0 0;
}

#form-heading {
    margin-bottom: .75em;
}

.message-form-input,
#message-form-submit {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1.25em 1em;
    outline: 0;
    resize: none;
    border: none;
    color: var(--primary);
    font-family: var(--font-two);
    font-size: var(--small);
    transition: all .5s;
}

.message-form-input {
    filter: brightness(.9);
}

.message-form-input:hover,
.message-form-input:focus {
    filter: brightness(1);
}

#message-form-submit {
    background-color: var(--primary);
    color: var(--primary-contrast);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .5s;
}

.message-form-input:hover,
#message-form-submit:hover,
.message-form-input:focus,
#message-form-submit:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bottom {
    padding: 2em 0;
    color: var(--primary);
    align-items: center;
    font-family: var(--font-two);
}

#social-links {
    display: flex;
    margin-right: 1em;
}

.social-link {
    margin-right: 1em;
    transition: all .5s;
}

.social-link:hover,
.social-link:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#copyright {
    text-align: center;
    font-size: var(--medium);
}

@media (max-width: 900px) {
    footer {
        padding: 2em;
    }

    #top {
        flex-direction: column-reverse;
    }

    #contact,
    #message-form,
    #bottom {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    #contact {
        margin-top: 1em;
    }
}

@media (max-width: 540px) {
    #bottom {
        justify-content: center;
        flex-direction: column;
    }

    #social-links {
        margin-right: 0;
        margin-bottom: 1em;
    }
}