<form [formGroup]="addResponseForm" (ngSubmit)="submit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Property</mat-label>
            <mat-select formControlName="property">
                <mat-option *ngFor="let property of properties" [value]="property.id">
                    {{property.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customer">
                <mat-option *ngFor="let property of customers" [value]="property.id">
                    {{property.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Leads</mat-label>
            <mat-select formControlName="lead">
                <mat-option *ngFor="let property of leads" [value]="property.id">
                    {{property.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Customer</mat-label>
            <mat-select (selectionChange)="genFields()" formControlName="phase">
                <mat-option [value]="phase.value" *ngFor="let phase of phases">
                    {{phase.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div [formGroup]="phasesNotes" class="textFields">
        <mat-form-field appearance="fill" *ngFor="let input of notesFieldsControls">
            <mat-label>Note For {{phases[input.index].label}}</mat-label>
            <input matInput [formControlName]="input.name" placeholder="Note">
        </mat-form-field>
    </div>
    <button mat-button color="primary" type="submit">Submit</button>
</form>
