div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
}
div.textFields{
   display: flex; 
}
div.textFields > mat-form-field{
    flex: 2;
}
div > * {
  margin-right: 10px;
}
