<section id="services" uk-scrollspy="cls: uk-animation-fade; target: h3, .service-image-container, .service-content; delay: 50">
    <h3>What We Do</h3>
    <div id="container">
        <div class="service">
            <div class="service-image-container">
                <img src="https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Service Image 1" class="service-image">
            </div>
            <div class="service-content">
                <h4 class="service-heading">Real Estate</h4>
                <p class="service-paragraph">Nam vitae auctor nisi. Nullam malesuada vitae lectus eu eleifend. Curabitur
                    venenatis
                    mauris est, a varius ligula eleifend et. Proin consectetur mi a lorem mollis, id placerat tellus
                    dapibus. Nam
                    pretium placerat elit non convallis. Nulla facilisi.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
        </div>
        <div class="service">
            <div class="service-image-container">
                <img src="https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Service Image 2" class="service-image">
            </div>
            <div class="service-content">
                <h4 class="service-heading">Interior Furnishing</h4>
                <p class="service-paragraph">Nam vitae auctor nisi. Nullam malesuada vitae lectus eu eleifend. Curabitur
                    venenatis
                    mauris est, a varius ligula eleifend et. Proin consectetur mi a lorem mollis, id placerat tellus
                    dapibus. Nam
                    pretium placerat elit non convallis. Nulla facilisi.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
        </div>
        <div class="service">
            <div class="service-image-container">
                <img src="https://images.pexels.com/photos/265087/pexels-photo-265087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Service Image 3" class="service-image">
            </div>
            <div class="service-content">
                <h4 class="service-heading">Marketing/ Broadcasting</h4>
                <p class="service-paragraph">Nam vitae auctor nisi. Nullam malesuada vitae lectus eu eleifend. Curabitur
                    venenatis
                    mauris est, a varius ligula eleifend et. Proin consectetur mi a lorem mollis, id placerat tellus
                    dapibus. Nam
                    pretium placerat elit non convallis. Nulla facilisi.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
        </div>
    </div>
</section>