#gallery {
    background-color: var(--secondary);
    padding: 2em;
    padding-bottom: 8em;
}

h3 {
    text-align: center;
    font-size: var(--xxlarge);
    font-family: var(--font-three);
    color: var(--secondary-contrast);
}

.image {
    box-shadow: var(--normal-shadow);
    transition: all .5s;
    border-radius: 7px;
}

.image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 600px) {
    h3 {
        margin-bottom: 0;
    }
    
    .image-container {
        padding-left: .5em;
        margin-top: .5em;
    }
}