:root {
  --overlay-width: 0%;
}

header {
  padding: 1em;
  background-color: var(--secondary);
  box-shadow: var(--normal-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;

  #toggle-button {
    color: var(--secondary-contrast);
    min-height: unset;
    margin-right: 0.5em;
  }

  #header-heading {
    font-family: var(--font-three);
    color: var(--secondary-contrast);
    font-size: var(--large);
    margin: 0;
  }

  #header-end {
    display: flex;

    .search-box {
      position: relative;
      width: fit-content;

      .admin-search {
        border: none;
        font-family: var(--font-three);
        font-size: var(--xsmall);
        padding: 0.25em 1em;
        border-radius: 20px;
        width: 250px;
        outline: none;
        font-weight: 500;
      }

      i {
        position: absolute;
        top: 50%;
        right: 1em;
        color: var(--secondary);
        transform: translateY(-50%);
      }
    }

    .secondary-btn {
      font-family: var(--font-three);
      font-size: var(--xsmall);
      font-weight: 500;
      padding: 0.25em 0.5em;
      background-color: var(--secondary-contrast);
      color: var(--secondary);
      border: none;
      transition: all 0.5s;
      border-radius: 7px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
      margin-left: 1em;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }

      i {
        margin-right: .5em;
      }
    }

    #view-responses-as {
      margin-left: 1em;
      
      button {
        background: none;
        padding: .5em 1em;
        font-size: var(--small);
        color: var(--secondary-contrast);
        border: none;
        border-right: 1px solid var(--secondary-contrast);
        cursor: pointer;
        transition: all .3s;

        &:last-of-type {
          border-right: none;
        }

        &.selected {
          color: var(--primary);
        }
      }
    }
  }
}

#wrapper {
  display: flex;
  min-height: calc(100vh - 58px);

  #sidebar-container {
    position: relative;
    display: flex;

    #sidebar {
      font-size: var(--medium);
      background-color: var(--secondary-contrast);
      box-shadow: var(--normal-shadow);
      min-width: max(20vw, 210px);
      border-right: 2px solid var(--secondary);
      height: 100%;

      @media (max-width: 1000px) {
        position: absolute;
        z-index: 1;
        top: 0;
      }

      #sidebar-ul {
        list-style: none;
        width: 100%;
        padding-left: 0;

        .sidebar-li-a {
          display: flex;
          align-items: center;
          margin: 0.5em;
          padding: 0.5em 1em;
          border-radius: 7px;
          transition: all 0.5s;
          color: var(--secondary);
          text-decoration: none;
          font-size: var(--medium);
          font-family: var(--font-three);

          .sidebar-icon {
            margin-right: 0.75em;
          }
        }

        .sidebar-li-a:last-of-type {
          margin-bottom: 0;
        }

        .sidebar-li-a:hover,
        .active {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
          background-color: var(--secondary);
          color: var(--primary-contrast);
        }
      }
    }
  }

  main {
    overflow-y: auto;
    position: relative;
    width: 100%;
  }

  main::after {
    content: "";
    background-color: var(--tertiary);
    opacity: 0.3;
    width: var(--overlay-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
