<main>
    <div class="header">
        <h2>Agent Panel</h2>
    </div>
    <div class="sidebar">
        <ul class="sidebar-ul">
            <li class="sidebar-li active">Dashboard</li>
            <li class="sidebar-li">Profile</li>
            <li class="sidebar-li">Broadcast</li>
            <li class="sidebar-li">Lead Center</li>
            <li class="sidebar-li">Customers</li>
            <li class="sidebar-li">Properties</li>
            <li class="sidebar-li">Responses</li>
            <li class="sidebar-li">Visit Log</li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>