#go-back {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
  font-family: var(--font-three);
  font-size: var(--small);
  padding: 0.25em 0.75em;
  margin-bottom: 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &:hover,
  &:focus {
    box-shadow: var(--normal-shadow);
  }

  i {
    margin-right: 0.3em;
  }
}
