#grid-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  height: 100vh;
}

header {
  grid-area: header;
  padding: 1em;
  background-color: var(--secondary);
  box-shadow: var(--normal-shadow);
}

#header-heading {
  font-family: var(--font-three);
  color: var(--secondary-contrast);
  font-size: var(--large);
  margin: 0;
}

aside {
  grid-area: sidebar;
  width: 20vw;
  border-right: 2px solid var(--secondary);
  font-size: var(--medium);
  box-shadow: var(--normal-shadow);
}

#sidebar-ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.sidebar-li-a {
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 7px;
  transition: all 0.5s;
  color: var(--secondary);
  text-decoration: none;
  font-size: var(--medium);
}

.sidebar-li-a:last-of-type {
  margin-bottom: 0;
}

.sidebar-li-a:hover,
.active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
  background-color: var(--secondary);
  color: var(--primary-contrast);
}

.sidebar-icon {
  margin-right: .75em;
}

main {
  grid-area: content;
  width: 80vw;
  height: calc(100vh - 58px);
}