<section>
  <div class="item">
    <h3>Profile</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Broadcast</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Lead Center</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Customers</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Properties</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Responses</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
  <div class="item">
    <h3>Visit Log</h3>
    <p>Edit or view your profile</p>
    <a href="">View</a>
  </div>
</section>
