section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  margin: 1em;
  padding: 1em 1.5em;
  box-shadow: var(--normal-shadow);
  background-color: var(--secondary);
  border-radius: 10px;
  transition: all .5s;
}

.item:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h3,
p,
a {
  font-family: var(--font-two);
  color: var(--secondary-contrast);
  margin: 0;
}

h3 {
  font-size: var(--large);
}

p {
  font-size: var(--medium);
}

a {
  font-size: var(--small);
  display: inline-block;
  margin-top: 1em;
  padding: .25em .75em;
  background-color: var(--primary);
  border-radius: 7px;
  transition: all .5s;
}

a:hover, a:focus {
    text-decoration: none;
  box-shadow: var(--normal-shadow);

}
