<section>
  <div class="item">
    <h3>Profile</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/profile">View</a>
  </div>
  <div class="item">
    <h3>Broadcast</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/broadcast">View</a>
  </div>
  <div class="item">
    <h3>Lead Center</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/lead-center">View</a>
  </div>
  <div class="item">
    <h3>Customers</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/customers">View</a>
  </div>
  <div class="item">
    <h3>Properties</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/properties">View</a>
  </div>
  <div class="item">
    <h3>Responses</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/responses">View</a>
  </div>
  <div class="item">
    <h3>Visit Log</h3>
    <p>Edit or view your profile</p>
    <a routerLink="/admin/visit-log">View</a>
  </div>
</section>
