<section>
  <button id="go-back" routerLink="..">
    <i class="fa-solid fa-arrow-left"></i> All Responses
  </button>

  <div id="actions">
    <button class="btn" (click)="viewProperties()">
      <i class="fa-solid fa-house"></i> View Interested
      {{
        response.properties?.length === 1
          ? "Property"
          : "Properties (" + response.properties?.length + ")"
      }}
    </button>
    <button class="btn" (click)="viewCustomerOrLead()">
      <i class="fa-solid fa-user"></i> View Details
    </button>
    <button class="btn delete-btn" (click)="deleteResponse()">
      <i class="fa-solid fa-trash"></i> Delete
    </button>
  </div>

  <div id="container">
    <div id="cards">
      <div class="card">
        <div class="image-and-name">
          <img
            [src]="
              response.customerOrLead?.img || 'assets/img/circle-user-solid.svg'
            "
          />
          <div>
            <h3>
              <span>{{ response.customerOrLead?.name }}</span>
              <span class="label-badge">{{
                response.customerOrLead?.customerOrLead
              }}</span>
            </h3>
            <div class="contact-buttons">
              <a
                *ngIf="response.customerOrLead?.phone"
                href="tel:{{ response.customerOrLead?.phone }}"
                ><i class="fa-solid fa-phone"></i
              ></a>
              <button *ngIf="response.customerOrLead?.phone" type="button">
                <i class="fa-solid fa-comment-sms"></i>
              </button>
              <a
                *ngIf="response.customerOrLead?.email"
                href="mailto:{{ response.customerOrLead?.email }}"
              >
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="phases">
      <div id="stepper-wrapper">
        <div
          [ngClass]="{
            'stepper-item': true,
            completed: activePhase >= 0
          }"
        >
          <div class="step-counter"></div>
          <div class="step-name">Query</div>
        </div>
        <div
          [ngClass]="{
            'stepper-item': true,
            completed: activePhase >= 1
          }"
        >
          <div class="step-counter"></div>
          <div class="step-name">Visitation</div>
        </div>
        <div
          [ngClass]="{
            'stepper-item': true,
            completed: activePhase >= 2
          }"
        >
          <div class="step-counter"></div>
          <div class="step-name">Negotiation</div>
        </div>
        <div
          [ngClass]="{
            'stepper-item': true,
            completed: activePhase >= 3
          }"
        >
          <div class="step-counter"></div>
          <div class="step-name">Legalization</div>
        </div>
        <div
          [ngClass]="{
            'stepper-item': true,
            completed: activePhase >= 4
          }"
        >
          <div class="step-counter"></div>
          <div class="step-name">Closure</div>
        </div>
      </div>
      <button
        class="btn"
        (click)="completePhase()"
        [disabled]="activePhase >= 4"
      >
        <i class="fa-solid fa-check"></i> Mark this phase complete
      </button>
      <button
        class="btn"
        (click)="discardPhase()"
        [disabled]="activePhase <= 0"
      >
        <i class="fa-solid fa-xmark"></i> Discard this phase
      </button>
    </div>
  </div>

  <ul uk-tab class="phase-tabs">
    <li
      (click)="viewPhase = 0"
      [ngClass]="{
        'view-phase': viewPhase === 0
      }"
    >
      <button>Query</button>
    </li>
    <li
      (click)="viewPhase = 1"
      [class]="{
        'view-phase': viewPhase === 1,
        'uk-disabled': activePhase < 1
      }"
    >
      <button>Visitation</button>
    </li>
    <li
      (click)="viewPhase = 2"
      [class]="{
        'view-phase': viewPhase === 2,
        'uk-disabled': activePhase < 2
      }"
    >
      <button>Negotiation</button>
    </li>
    <li
      (click)="viewPhase = 3"
      [class]="{
        'view-phase': viewPhase === 3,
        'uk-disabled': activePhase < 3
      }"
    >
      <button>Legalization</button>
    </li>
    <li
      (click)="viewPhase = 4"
      [class]="{
        'view-phase': viewPhase === 4,
        'uk-disabled': activePhase < 4
      }"
    >
      <button>Closure</button>
    </li>
  </ul>
  <div id="notes">
    <ng-container *ngIf="response.notes && response.notes[phases[viewPhase]]">
      <div class="note" *ngFor="let note of response.notes[phases[viewPhase]]">
        <p class="date">{{ note.date.toDate() | date }}</p>
        <p class="description">{{ note.note }}</p>
        <audio *ngIf="note.voiceNote" [src]="note.voiceNote" controls></audio>
        <a *ngIf="note.file" [href]="note.file" target="_blank" class="file"
          >View File</a
        >
        <p class="added-by">
          {{ note.addedByName }} ({{ note.addedByAccess }})
        </p>
      </div>
    </ng-container>
    <div id="note-buttons">
      <button class="btn" (click)="addNote()">
        <i class="fa fa-plus"></i> Add Note
      </button>
      <button class="btn" (click)="addVoiceNote()">
        <i class="fa fa-microphone"></i> Add Voice Note
      </button>
    </div>
  </div>
</section>
