section {
  padding: 1em;
  position: relative;

  .btn {
    background-color: var(--secondary);
    color: var(--secondary-contrast);
    font-family: var(--font-three);
    font-size: var(--small);
    padding: 0.25em 0.75em;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      box-shadow: var(--normal-shadow);
    }

    &:disabled {
      opacity: 0.7;
    }

    &.delete-btn {
      background-color: red;
    }

    i {
      margin-right: 0.3em;
    }
  }

  #actions {
    position: absolute;
    top: 1.5em;
    right: 1.5em;

    .btn {
      margin: 0 0 1em 0.5em;
    }
  }

  #container {
    display: flex;
    align-items: center;
    padding-top: 1em;

    #cards {
      width: 40%;

      .card {
        box-shadow: var(--light-shadow);
        border-radius: 10px;
        padding: 0.5em;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }

        .contact-buttons {
          display: flex;
          margin-top: 0.5em;

          a,
          button {
            text-decoration: none;
            border: none;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--secondary);
            color: var(--secondary-contrast);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s;
            margin-right: 0.25em;

            &:not(:disabled):hover {
              box-shadow: var(--normal-shadow);
            }

            &:disabled {
              opacity: 0.8;
              cursor: no-drop;
            }

            &.delete-btn {
              background-color: var(--danger);
            }
          }
        }
      }
    }

    #phases {
      width: 60%;
      text-align: center;

      #stepper-wrapper {
        display: flex;
        justify-content: space-between;
        transform: scale(0.95);

        .stepper-item {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          font-family: var(--font-three);
          color: var(--secondary);
          font-size: var(--small);

          &::before {
            position: absolute;
            content: "";
            border-bottom: 5px solid #ccc;
            width: 100%;
            top: 20px;
            left: -50%;
            z-index: 2;
          }

          &::after {
            position: absolute;
            content: "";
            border-bottom: 5px solid #ccc;
            width: 100%;
            top: 20px;
            left: 50%;
            z-index: 2;
          }

          .step-counter {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
            margin-bottom: 6px;
          }

          &.active {
            font-weight: bold;
          }

          &.completed {
            .step-counter {
              background-color: var(--secondary);
            }

            &::after {
              position: absolute;
              content: "";
              border-bottom: 5px solid var(--secondary);
              width: 100%;
              top: 20px;
              left: 50%;
              z-index: 3;
            }
          }

          &:first-child::before {
            content: none;
          }

          &:last-child::after {
            content: none;
          }
        }
      }

      .btn {
        margin: 2em 0.25em 0 0.25em;
      }
    }
  }

  .phase-tabs {
    width: 100%;
    margin: 0;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 4px solid var(--secondary);

    li {
      background-color: var(--primary);
      width: 20%;
      transition: all 0.4s;
      padding: 0.5em 0;
      display: flex;
      cursor: pointer;

      button {
        background: none;
        cursor: pointer;
        outline: none;
        border: none;
        width: 100%;
        font-family: var(--font-three);
        color: var(--primary-contrast);
        text-transform: unset;
        font-size: var(--small);
      }

      &:hover {
        box-shadow: var(--normal-shadow);
        z-index: 2;
      }

      &.view-phase {
        background-color: var(--secondary);
      }

      &.uk-disabled {
        filter: brightness(0.8);

        button {
          cursor: unset;
        }
      }
    }
  }

  #notes {
    padding: 1em;
    font-family: var(--font-three);
    font-size: var(--small);
    color: var(--tertiary);

    .note {
      margin-bottom: 1em;

      .date,
      .description,
      .added-by {
        margin: 0;
      }

      .date {
        font-weight: 700;
      }

      audio {
        margin: .5em 0;
      }

      .file {
        text-decoration: underline;
        color: var(--secondary);
        display: block;
      }
      
      .added-by {
        color: var(--light-tertiary);
      }
    }

    #note-buttons {
      .btn:not(:last-child) {
        margin-right: 0.25em;
      }
    }
  }
}
