<section>
  <div id="lead-cards">
    <app-lead-card *ngFor="let item of leads" [name]="item.name" [budget]="item.budget" [interestedIn]="item.interest"
      [preferredLocality]="item.preferredLocality" [contactNumber]="item.phone" [job]="item.job"
      [salary]="item.salary" [otherPreferences]="item.otherPreferences" (onEdit)="edit(item)" (onDelete)="delete(item)"></app-lead-card>
  </div>
  <app-fab [icon]="'plus'" [target]="'#add-lead-modal'" [title]="'Add New Lead'"></app-fab>
  <div id="add-lead-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Add New Lead</h2>
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <form [formGroup]="leadForm" id="addLeadForm" (ngSubmit)="!editMode ? addLead() : editLead(currentLeadId)">
        <input type="text" formControlName="name" class="admin-input" placeholder="Name" />
        <input type="text" formControlName="budget" class="admin-input" placeholder="Budget" />
        <input type="text" formControlName="interest" class="admin-input" placeholder="Interested In" />
        <input type="text" formControlName="preferredLocality" class="admin-input" placeholder="Preferred locality" />
        <input type="text" formControlName="job" class="admin-input" placeholder="Job" />
        <input type="text" formControlName="salary" class="admin-input" placeholder="Salary" />
        <input type="text" formControlName="otherPreferences" class="admin-input" placeholder="Other Preferences" />
        <input type="tel" formControlName="phone" class="admin-input" placeholder="Phone Number" />
        <input type="email" formControlName="email" class="admin-input" placeholder="Email" />
        <input type="text" formControlName="address" class="admin-input" placeholder="Address" />
        <input type="text" formControlName="city" class="admin-input" placeholder="City" />
        <input type="text" formControlName="state" class="admin-input" placeholder="State" />
        <input type="text" formControlName="pinCode" class="admin-input" placeholder="Pincode/ ZIP Code" />
        <input type="text" formControlName="aadhaar" class="admin-input" placeholder="Aaadhaar Card No." />
        <input type="text" formControlName="panNo" class="admin-input" placeholder="Pan Card No." />
        <div id="dates">
          <div class="date">
            <label for="dob-input">Customer DOB</label>
            <input formControlName="customerDob" type="date" name="dob" id="dob-input" class="admin-input" />
          </div>
          <div class="date">
            <label for="dob-input">Customer Anniversary</label>
            <input type="date" name="anniversary" formControlName="customerAnniversary" id="anniversary-input" class="admin-input"
              placeholder="Customer Anniversary" />
          </div>
        </div>
        <app-primary-btn [text]="!editMode ? 'Add Lead' : 'Update Lead'" form="addLeadForm"></app-primary-btn>
      </form>
      <img src="../../../assets/img/add-lead-modal-img.png" id="modal-img" />
    </div>
  </div>
</section>