<header [style]="positionAbsolute ? ' position: absolute; top: 0; left: 0; width: 100%; z-index: 1;' : ''">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar (window:resize)="onWindowResize()">
    <div class="uk-navbar-left" uk-scrollspy="cls: uk-animation-scale-up" id="heading">
      Sigma Homes
    </div>

    <div *ngIf="largeScreen" class="uk-navbar-center">
      <ul class="uk-navbar-nav" uk-scrollspy="target: > li; cls: uk-animation-slide-left-small; delay: 150">
        <li>
          <button class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
          </button>
        </li>
        <li>
          <button class="nav-link" routerLink="/about" routerLinkActive="active">
            About
          </button>
        </li>
        <li>
          <button class="nav-link" routerLink="/properties" routerLinkActive="active">
            Properties
          </button>
        </li>
        <li>
          <button class="nav-link" routerLink="/contact" routerLinkActive="active">
            Contact
          </button>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <div *ngIf="largeScreen && !dataProvider.loggedIn" id="header-buttons">
        <button routerLink="/login" class="header-button" id="login" uk-scrollspy="cls: uk-animation-fade">
          Login
        </button>
        <button routerLink="/signup" class="header-button" id="signup" uk-scrollspy="cls: uk-animation-fade">
          Sign Up
        </button>
      </div>

      <div *ngIf="largeScreen && dataProvider.loggedIn" id="header-buttons">
        <button id="logout" class="header-button" uk-scrollspy="cls: uk-animation-fade" (click)="authService.logout()">
          Logout
        </button>
        <button *ngIf="this.dataProvider.userData?.access?.access === 'Admin'" routerLink="/admin" id="admin"
          class="header-button" uk-scrollspy="cls: uk-animation-fade">
          Admin
        </button>
        <button *ngIf="this.dataProvider.userData?.access?.access === 'Agent'" routerLink="/agentPanel" id="admin"
          class="header-button" uk-scrollspy="cls: uk-animation-fade">
          Agent
        </button>
      </div>

      <button *ngIf="!largeScreen" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"
        id="toggle-button" uk-scrollspy="cls: uk-animation-fade"></button>
    </div>

    <div *ngIf="!largeScreen" id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
      <div class="uk-offcanvas-bar" id="offcanvas-bar">
        <ul class="uk-nav">
          <li>
            <button class="nav-link2" routerLink="" routerLinkActive="active2">
              Home
            </button>
          </li>
          <li>
            <button class="nav-link2" routerLink="/about" routerLinkActive="active2">
              About
            </button>
          </li>
          <li>
            <button class="nav-link2" routerLink="/properties" routerLinkActive="active2">
              Properties
            </button>
          </li>
          <li>
            <button class="nav-link2" routerLink="/contact" routerLinkActive="active2">
              Contact
            </button>
          </li>
          <li *ngIf="!dataProvider.loggedIn">
            <button class="nav-link2" routerLink="/login">
              Login
            </button>
          </li>
          <li *ngIf="!dataProvider.loggedIn">
            <button class="nav-link2" routerLink="/signup">Sign Up</button>
          </li>
          <li *ngIf="dataProvider.loggedIn">
            <button class="nav-link2" (click)="authService.logout()">
              Logout
            </button>
          </li>
          <li *ngIf="dataProvider.loggedIn">
            <button class="nav-link2" routerLink="/admin">Admin</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>