<section id="first-section">
    <div id="background"></div>
    <div id="foreground">
        <h2 uk-scrollspy="cls:uk-animation-slide-top-small; repeat: true">We're here to build your dream professionally</h2>
        <p uk-scrollspy="cls:uk-animation-slide-top-small; repeat: true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ad odio ipsa nobis quisquam molestias.</p>
        <form action="" method="post" uk-scrollspy="cls:uk-animation-slide-top-small; repeat: true">
            <input type="email" name="email" id="email" placeholder="Drop your email address">
            <button type="submit">Consult Now</button>
        </form>
    </div>
</section>