<section id="first-section">
  <div id="background"></div>
  <div id="foreground">
    <div id="text-container">
      <h2 uk-scrollspy="cls:uk-animation-slide-top-small">
        We're here to build your dream professionally
      </h2>
      <p uk-scrollspy="cls:uk-animation-slide-top-small">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea
        pariatur numquam ducimus cumque dicta aspernatur corporis obcaecati aut.
        Accusamus?
      </p>
    </div>
  </div>
</section>
