#first-section {
  position: relative;
}

#background {
  min-height: max(100vh, 420px);
}

#background::after {
  content: "";
  background-image: url("../../../../assets/img/pexels-photo-966397.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#foreground {
  position: absolute;
  top: 4em;
  width: 50%;
}

#text-container {
  background-color: rgba($color: #fff, $alpha: 0.6);
  backdrop-filter: blur(5px);
  padding: 1em;
  margin: 2em;
}

h2,
p {
  color: var(--secondary);
  margin: 0;
}

h2 {
  font-size: var(--xxlarge);
  font-family: var(--font-three);
  margin-bottom: 0.5em;
}

p {
  font-size: var(--medium);
  font-family: var(--font-two);
  text-align: justify;
}

@media (max-width: 950px) {
  #foreground {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #text-container {
    margin: 1em;
  }
}
