#card {
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: var(--normal-shadow);
  padding: 1em;
  width: 26rem;
  position: relative;
  .notification{
    position: relative;
    height: 10px;
    width:10px;
    background-color: red;
    border-radius: 50%;
  }
  &:hover {
    transform: scale(1.01);
  }
  #content {
    display: flex;
    position: relative;
    #property-img-container {
      width: 40%;
      margin-right: 1em;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    #details {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .round-btn {
        background-color: var(--secondary);
        color: var(--secondary-contrast);
        border: none;
        font-family: var(--font-three);
        padding: 0.25em 0.5em;
        margin-right: 0.25em;
        font-size: var(--small);
        border-radius: 50%;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          box-shadow: var(--normal-shadow);
        }
        &.delete-btn {
          background-color: var(--danger);
        }
      }

      #text-container {
        width: 85%;

        h4,
        p {
          font-family: var(--font-three);
          color: var(--tertiary);
          font-weight: 600;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        h4 {
          font-size: var(--medium);
          margin-bottom: 0.25em;
        }

        p {
          font-size: var(--small);
        }

        #contact-buttons {
          display: flex;
          margin-top: 0.25em;
        }
      }

      #status-and-btns {
        display: flex;
        align-items: center;
        margin-top: 1em;

        #status {
          background-color: var(--secondary);
          color: var(--secondary-contrast);
          width: 100%;
          text-align: center;
          padding: 0.25em 1em;
          font-family: var(--font-three);
          font-size: var(--small);
          border-radius: 15px;
          margin-right: 0.25em;
        }
      }
    }
  }

  #select-button {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    font-weight: 700;
    border: none;
    font-size: var(--large);
    cursor: pointer;
    transition: all 0.5s;
    z-index: 1;
  }
}
