@import "~pretty-checkbox/src/pretty-checkbox.scss";

:root {
  --post-background: "";
}

#go-back {
  position: relative;
  top: 1em;
  left: 1em;
  transition: all 0.5s;
}

form {
  padding: 1em;

  #form-content {
    display: flex;
    margin-bottom: 1.5em;

    #left,
    #right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .admin-input {
        width: 100%;
        margin-top: 1.5em;
      }

      input[type="file"] {
        display: none;
      }
    }

    #left {
      width: 40%;
      max-width: 400px;
      margin-right: 2em;

      #upload-post-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 90%;
        background-color: #adadad;
        border-radius: 10px;
        position: relative;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        #upload-post-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          img {
            width: 60%;
          }

          p {
            color: #fff;
            font-size: var(--medium);
            font-family: var(--font-three);
            margin: 0.5em 0;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: var(--post-background);
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          filter: brightness(0.6);
          transition: all 0.4s;
        }

        &:hover {
          background-color: #888888;

          &::before {
            filter: brightness(0.4);
          }
        }
      }

      textarea {
        height: 140px;
      }
    }

    #right {
      width: 60%;

      h3 {
        font-family: var(--font-three);
        color: var(--secondary);
        font-size: var(--large);
      }

      #upload-csv {
        background-color: var(--primary);
        color: var(--primary-contrast);
        width: 100%;
        border: none;
        border-radius: 7px;
        padding: 0.5em 1em;
        font-size: var(--small);
        font-family: var(--font-three);
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          box-shadow: var(--normal-shadow);
        }
      }

      .or {
        font-family: var(--font-three);
        color: var(--tertiary);
        margin: 1em 0;
        font-size: var(--medium);
        text-align: center;
      }

      h4 {
        font-family: var(--font-three);
        color: var(--secondary);
        font-size: var(--small);
        margin: 0;
      }

      mat-form-field {
        height: 140px;
        margin-top: 0 !important;
        overflow-y: auto;

        ::ng-deep .mat-form-field-underline {
          display: none;
        }
      }

      #search-input-container {
        position: relative;

        input {
          margin: 0;
        }

        span {
          position: absolute;
          right: 1em;
          top: 50%;
          transform: translateY(-50%);
          color: var(--secondary);
        }
      }

      #customers-and-leads {
        margin: 1.5em 0;
        height: 140px;
        overflow-y: auto;

        .customer,
        .lead {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.5em;

          .image-and-name {
            display: flex;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 1em;
            }

            p {
              color: var(--tertiary);
              font-size: var(--small);
              font-family: var(--font-three);
              margin: 0;
            }
          }
        }
      }
    }
  }

  #social-share {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    a {
      display: block;
      width: 25%;
      padding: 0.5em;
      margin-right: 0.25em;
      font-size: var(--small);
      font-family: var(--font-three);
      color: #fff;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:hover {
        box-shadow: var(--normal-shadow);
      }

      &#twitter-share {
        background-color: #00acee;
      }

      &#facebook-share {
        background-color: #4267b2;
      }

      &#pinterest-share {
        background-color: #e60023;
      }

      &#whatsapp-share {
        background-color: #25d366;
        margin-right: 0;
      }

      i {
        font-size: var(--large);
        margin-right: 0.35em;
      }
    }
  }
}

@media (max-width: 760px) {
  form {
    display: block;

    #left,
    #right {
      width: 100%;
    }

    .admin-input {
      margin-top: 0;
      margin-bottom: 1.5em;
    }

    #left {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 100%;

      #upload-post-wrapper {
        width: 40%;
        padding-bottom: 40%;

        p {
          font-size: var(--medium) !important;
        }
      }

      #subject-and-caption {
        width: 55%;
      }
    }
  }
}

@media (max-width: 400px) {
  .admin-input {
    margin-top: 1.5em !important;
    margin-bottom: 0 !important;
  }

  #left,
  #right {
    width: 100% !important;
  }

  #left {
    display: block !important;

    #upload-post-wrapper {
      width: 100% !important;
      padding-bottom: 100% !important;
    }

    #subject-and-caption {
      width: 100% !important;
    }
  }
}
