<section>
  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">Ongoing</a>
      <div class="uk-accordion-content">
        <app-property-info-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [propertyImgSrc]="taskLog.propertyImgSrc"
          [propertyName]="taskLog.propertyName"
          [customerName]="taskLog.customerName"
          [customerImgSrc]="taskLog.customerImgSrc"
          [time]="taskLog.time"
          [date]="taskLog.date"
          [status]="taskLog.status"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-property-info-card>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">To do</a>
      <div class="uk-accordion-content">
        <app-property-info-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [propertyImgSrc]="taskLog.propertyImgSrc"
          [propertyName]="taskLog.propertyName"
          [customerName]="taskLog.customerName"
          [customerImgSrc]="taskLog.customerImgSrc"
          [time]="taskLog.time"
          [date]="taskLog.date"
          [status]="taskLog.status"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-property-info-card>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Delayed</a>
      <div class="uk-accordion-content">
        <app-property-info-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [propertyImgSrc]="taskLog.propertyImgSrc"
          [propertyName]="taskLog.propertyName"
          [customerName]="taskLog.customerName"
          [customerImgSrc]="taskLog.customerImgSrc"
          [time]="taskLog.time"
          [date]="taskLog.date"
          [status]="taskLog.status"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-property-info-card>
      </div>
    </li>
  </ul>
</section>
