<section>
  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">Ongoing</a>
      <div class="uk-accordion-content">
        <app-response-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [response]="taskLog"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-response-card>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">To do</a>
      <div class="uk-accordion-content">
        <app-response-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [response]="taskLog"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-response-card>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Delayed</a>
      <div class="uk-accordion-content">
        <app-response-card
          *ngFor="let taskLog of taskLogs; let i = index"
          [response]="taskLog"
          (cardClick)="loadTaskLogDetails(i)"
        ></app-response-card>
      </div>
    </li>
  </ul>
</section>
