<h2>Tasks</h2>
<section>
  <div class="toDo">
    <h3>To Do Tasks</h3>
    <hr>
    <ul cdkDropList [cdkDropListData]="todoTasks" (cdkDropListDropped)="drop($event)">
      <app-taskcard *ngFor="let task of todoTasks"></app-taskcard>
    </ul>
  </div>
  <div class="onGoing">
    <h3>On Going Tasks</h3>
    <hr>
    <ul cdkDropList [cdkDropListData]="onGoingTasks" (cdkDropListDropped)="drop($event)">
      <app-taskcard cdkDrag *ngFor="let task of onGoingTasks"></app-taskcard>
    </ul>
  </div>
  <div class="completed">
    <h3>Completed Tasks</h3>
    <hr>
    <ul cdkDropList [cdkDropListData]="completedTasks" (cdkDropListDropped)="drop($event)">
      <app-taskcard cdkDrag *ngFor="let task of completedTasks"></app-taskcard>
    </ul>
  </div>
</section>
