section {
  padding: 1.5em;

  .uk-accordion-title {
    font-family: var(--font-three);
    color: var(--secondary);
    font-weight: 500;
  }

  .uk-accordion-content {
    display: flex;
    flex-wrap: wrap;

    app-response-card {
      width: 40%;
      max-width: 400px;
      flex-grow: 1;
      margin: 0.5em;

      @media (max-width: 900px) {
        width: 25%;
        min-width: 250px;
      }
    }
  }
}
