section {
  padding: 2em;

  h3 {
    text-align: center;
    font-size: var(--xxlarge);
    font-family: var(--font-three);
    color: var(--tertiary);
  }

  #members {
    display: flex;
    flex-wrap: wrap;

    app-member-card {
      width: 31%;
      margin: .5em;
    }
  }
}
