@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400,700&display=swap");

:root {
  --primary: #00b2ca;
  --secondary: #1d4e89;
  --primary-contrast: #fff;
  --secondary-contrast: #fff;
  --tertiary: #000;
  --xxxlarge: 36px;
  --xxlarge: 28px;
  --xlarge: 24px;
  --large: 20px;
  --medium: 18px;
  --small: 16px;
  --font-one: "Playfair Display", serif;
  --font-two: "Lato", sans-serif;
  --font-three: "Poppins", sans-serif;
  --normal-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.admin-input {
  display: block;
  background-color: transparent;
  font-family: var(--font-two);
  font-size: var(--medium);
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid var(--secondary);
  outline: none;
  resize: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
