<section>
  <div class="responsesContainer">
    <ng-container *ngIf="!loading">
      <app-response-card *ngFor="let response of responses" [id]="response.id" [response]="response"
        (view)="viewResponse(response.id)" (delete)="deleteResponse(response.id)"
        (cardSelect)="selectResponse(response.id)" [selectable]="true">
      </app-response-card>
    </ng-container>
    <div class="uk-position-center" uk-spinner="ratio: 4" *ngIf="loading"></div>
    <img class="uk-position-center" style="width:400px;" src="assets/img/empty.svg" alt="Empty" *ngIf="!loading && responses.length==0">
  </div>
</section>

<button class="actionButton" (click)="addResponse()"><i class="ri-add-circle-fill"></i></button>
<section [@enterAnimation] id="assignAgentListner" *ngIf="selectedResponses.length>0">
  <span>
    {{ selectedResponses.length }}/{{ responses.length }} responses selected
  </span>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Agent</mat-label>
      <mat-select (selectionChange)="setAgent($event)">
        <mat-option *ngFor="let agent of agents" [value]="agent.userId">
          {{agent.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="assignAgent()" class="secondary-btn" *ngIf="this.assignedAgent!=''">
      <i class="fa-solid fa-user-tie"></i> Assign Agent
    </button>
  </form>
</section>