#response-details {
  padding: 1em;
  position: relative;

  #property-customer-details {
    display: flex;

    #property-container,
    #customer-container {
      width: 50%;
      display: flex;
      padding: 1em;

      img {
        margin-right: 1em;
      }

      h4,
      p {
        margin: 0;
        font-family: var(--font-three);
        color: var(--tertiary);
      }

      h4 {
        font-weight: 700;
        font-size: var(--large);
      }

      #address,
      #phone {
        margin-top: 1em;
      }

      p {
        font-size: var(--small);
      }

      #contact-buttons {
        margin-top: 1em;

        button {
          padding: 0.5em;
          background-color: var(--secondary);
          color: var(--secondary-contrast);
          border: none;
          font-size: var(--small);
          margin-right: 0.5em;
          border-radius: 50%;
          cursor: pointer;
          transition: all .5s;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            box-shadow: var(--normal-shadow);
          }
        }
      }
    }
  }

  ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 4px solid var(--secondary);

    li {
      background-color: var(--primary);
      width: 20%;
      transition: all 0.4s;
      padding: 0.5em 0;

      a {
        font-family: var(--font-three);
        color: var(--primary-contrast);
        text-transform: unset;
        font-size: var(--small);
      }
    }

    li:hover {
      box-shadow: var(--normal-shadow);
      z-index: 2;
    }

    .uk-active {
      background-color: var(--secondary);

      a {
        border: none;
      }
    }

    .uk-disabled {
      filter: brightness(0.8);
    }
  }

  #notes {
    padding: 1.5em;
    font-family: var(--font-three);
    color: var(--tertiary);

    .note {
      margin-bottom: 1em;

      .date,
      .description {
        margin: 0;
      }

      .date {
        font-weight: 700;
      }
    }
  }
}
