// Universal Styles

* {
    font-family: 'Poppins', sans-serif;
}


// First Section

#home {
    background-image: url(../../assets/img/first-section-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

#first-section-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    margin-left: 8em;
}

#first-section-heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: #333;
}

#first-section-paragraph {
    color: #626562;
    margin: 1.5em 0;
}

#first-section-email-form {
    position: relative;
}

#email-form-input {
    padding: 1.5em 1em;
    width: 100%;
    border: 1px solid #bac2bf;
}

#email-form-submit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #03381c;
    color: #f6f7f7;
    outline: 0;
    padding: .75em 1.25em;
    border: 1px solid transparent;
}


// Sponsors Section

#sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5em 0;
}

.sponsor-svg-logo {
    width: 100px;
}


// About Section

#about{
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color: #0a2e1836;
}
#about-content{
  width: 85%;       
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between    ;
#box1{
    width: 500px;   
  display: flex;
  flex-direction: column;
  p{
      font-size: 35px;
      color: #03381c;
  }
  span{
      font-size: 18px;
      color: #4e4e4e;
      padding: 20px  0px;
  }
}
#box2   {
    width: 50%;
  display: flex;
  justify-content: space-around;
  #cards{
      display: flex;
      flex-direction: column;
      width: 100px;
      b{
          font-size: 40px;
          color: #03381c;
      }
      small{
          font-size: 15px;
          font-weight: 600;
      }
  }
}
}


// Services and FAQs Sections

#services, #faqs-section {
    width: 90%;
    margin: 3em auto;
}

.service, #faqs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service:nth-child(even) {
    flex-direction: row-reverse;
}

.service-content, .service-image-container, #faqs-image-container, #faqs {
    width: 50%;
    margin: 3em;
}

.service-image-container, #faqs-image-container {
    border: 1px solid #bac2bf;
    position: relative;
    height: 410px;
}

.service-image, #faqs-image {
    width: 100%;
    position: absolute;
    top: -2em;
    right: -2em;
}

.service-heading, #faqs-heading {
    font-size: 1.8rem;
}

.service-paragraph, .service-link {
    margin-top: 1em;
}

.service-paragraph {
    color: #626562;
}

.service-link {
    display: block;
    text-decoration: none;
    color: #03381c;
}

#faqs {
    list-style: none;
    font-weight: 700;
    color: #000;
}

.faq {
    border: 1px solid #bac2bf;
    margin-bottom: 1em;
    padding: 1em;
}