// Universal Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Utility Classes

.bold {
    font-weight: 700;
}


// First Section

#first-section {
    font-family: 'Poppins', sans-serif;
    background-image: url(../../assets/img/first-section-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

#first-section-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    margin-left: 8em;
}

#first-section-heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: #333;
}

#first-section-paragraph {
    color: #626562;
    margin: 1.5em 0;
}

#first-section-email-form {
    position: relative;
}

#email-form-input {
    padding: 1.5em 1em;
    width: 100%;
    border: 1px solid #bac2bf;
    font-family: inherit;
}

#email-form-submit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #03381c;
    color: #f6f7f7;
    font-family: inherit;
    outline: 0;
    padding: .75em 1.25em;
    border: 1px solid transparent;
}