<app-header></app-header>
<section id="first-section">
    <div id="first-section-content">
        <h2 id="first-section-heading">We help build your dream <span class="bold">professionally</span></h2>
        <p id="first-section-paragraph">We always prioritize the maximum possible results with modern methods, and the
            latest texhnology that we use so far the client is very proud of the solid results.</p>
        <form action="" method="post" id="first-section-email-form">
            <input type="email" name="email" id="email-form-input" placeholder="Drop your email address here">
            <button type="submit" id="email-form-submit">Let's Consult Now</button>
        </form>
    </div>
</section>
<app-footer></app-footer>