<app-header></app-header>
<section id="home">
  <div id="first-section-content">
    <h2 id="first-section-heading">
      We help build your dream <span class="bold">professionally</span>
    </h2>
    <p id="first-section-paragraph">
      We always prioritize the maximum possible results with modern methods, and
      the latest texhnology that we use so far the client is very proud of the
      solid results.
    </p>
    <form action="" method="post" id="first-section-email-form">
      <input
        type="email"
        name="email"
        id="email-form-input"
        placeholder="Drop your email address here"
      />
      <button type="submit" id="email-form-submit">Let's Consult Now</button>
    </form>
  </div>
</section>
<section id="about">
  <div id="about-content">
    <div id="box1">
      <p>Get to know us more</p>
      <span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
        praesentium architecto impedit voluptate aliquid ea voluptas expedita
        harum, nulla porro?
      </span>
    </div>
    <div id="box2">
      <div id="cards">
        <b>20+</b>
        <small>Years Experience</small>
      </div>
      <div id="cards">
        <b>15k</b>
        <small>Professional Architect</small>
      </div>
      <div id="cards">
        <b>30+</b>
        <small>LProjects Completed</small>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
