button {
    display: block;
    background-color: transparent;
    color: var(--primary);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    padding: .5em;
    font-size: var(--small);
    font-family: var(--font-two);
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: var(--primary);
    color: var(--primary-contrast);
    box-shadow: var(--normal-shadow);
}