button {
    display: block;
    background-color: transparent;
    color: var(--primary);
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
    padding: .5em 1em;
    font-size: var(--medium);
    font-family: var(--font-two);
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: var(--primary);
    color: var(--primary-contrast);
    box-shadow: var(--normal-shadow);
}

button:disabled {
    opacity: .5;
    cursor: no-drop;
}