button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--primary);
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
    padding: .5em 1em;
    font-size: var(--small);
    font-family: var(--font-three);
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: var(--primary);
        color: var(--primary-contrast);
        box-shadow: var(--normal-shadow);
    }

    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }

    span {
        margin-right: .25em;
    }
}